.drawer {
  width: 35vw;
  height: 100vh;
  padding-top: $header-height;
  transform: translateY(-10vh);
  background-color: $light-gray;
  transition: width 500ms ease-in-out;
  outline-offset: -5px;
  position: relative;
  top: 0;
  z-index: 2;
}

.drawer-content {
  padding: 0 50px;
  transition: opacity 10ms linear;
  margin-bottom: $footer-height;
}
$drawer-duration: 500ms;

.drawer-content .button {
  border: none;
  border-style: unset;
}
.drawer-close-icon {
  height: 24px;
  width: 24px;
}

.drawer-close-icon:hover {
  cursor: pointer;
}

.drawer-header {
  height: $header-height;
  display: flex;
  // background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
}

.text-swiper .swiper-slide {
  // outline: solid 10px purple;
  // outline-offset: -20px;
}

.drawer-text {
  overflow: auto;
  width: calc(35vw - 2 * 50px);
  // margin-top: $header-height;
}

.drawer button {
  background-color: transparent;
  border: none;
}

.drawer button:focus {
  outline: none;
}

.tag-box {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  width: fit-content;
  padding: 0px 20px;
  display: inline-block;
  font-size: 0.7em;
}
