.drawer {
  background-color: rgba(195, 196, 181, 0.24);
  width: 50vw;
  height: 100vh;
  position: relative;
  top: -$header-height;
  left: 0;
  padding-top: $header-height;
  z-index: 0;
  transition: width 1s ease-in-out;
}

.closed-drawer .drawer {
  width: 0px;
}

.drawer-content {
  padding: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
}
