.drawer {
  // background-color: rgba(195, 196, 181, 0.24);
  width: 50vw;
  height: 100vh;
  padding-top: $header-height;
  transform: translateY(-10vh);
  background-color: $light-gray;
  transition: width 500ms ease-in-out;
  outline-offset: -5px;
  position: relative;
  top: 0;
  z-index: 2;
}

.drawer-content {
  padding: 0 50px;
  transition: opacity 10ms linear;
  margin-bottom: $footer-height;
  // background-color: aqua;
}
$drawer-duration: 500ms;

.drawer-close-icon {
  height: 24px;
  width: 24px;
}

.drawer-close-icon:hover {
  cursor: pointer;
}

.drawer-header {
  height: $header-height;
  display: flex;
  // background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
}

.drawer-text {
  overflow: auto;
  // margin-top: $header-height;
}
