// Drawer Transitition duration

.gallery-wrapper {
  padding-top: $header-height;
  padding-bottom: $footer-height;
  width: 50%;
  transition: width 500ms ease-in-out;
}

.gallery-wrapper img {
  max-width: 300px;
}

.gallery {
  // height: 75%;

  justify-content: center;
  align-self: center;
}

.gallery-footer {
  display: flex;
  justify-content: center;
}
.drawer-close-icon.drawer-close-icon__text {
  margin-top: 50px;
  width: unset;
  height: unset;
}
