// Drawer Transitition duration

.gallery-wrapper {
  background-color: #fff;
  // overflow-y: auto;
  overflow: hidden;
  position: relative;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  top: 0;
  right: 0;
  width: 50%;
  transition: width 500ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.gallery-wrapper img {
  max-width: 300px;
}

.gallery {
  height: 75%;

  justify-content: center;
  align-self: center;
}

.gallery-footer {
  display: flex;
  justify-content: center;
}
.drawer-close-icon.drawer-close-icon__text {
  margin-top: 50px;
  width: unset;
  height: unset;
}
