.header-wrapper {
  top: 0;
  width: 100vw;
  // border-bottom: solid 2px #fff;
  height: $header-height;
  background-color: transparent;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.site-header {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.drawer-close-icon {
  height: 24px;
  width: 24px;
}

.drawer-close-icon:hover {
  cursor: pointer;
}
