.header-wrapper {
  width: 100vw;
  // border-bottom: solid 2px #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 5;
  height: $header-height;
  // background-color: aqua;
  align-items: center;
}

.drawer-header {
  display: flex;
  // background-color: aquamarine;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
}

.drawer-close-icon {
  height: 24px;
  width: 24px;
}

.drawer-close-icon:hover {
  cursor: pointer;
}

.site-header {
  display: flex;
  // background-color: pink;
  justify-content: flex-end;
  padding-right: 50px;
}
