@font-face {
  font-family: "AvenirNext_Regular";
  src: url("../fonts/AvenirNextLTPro-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextLTPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/AvenirNextLTPro-Regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/AvenirNextLTPro-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "AvenirNext_Bold";
  src: url("../fonts/AvenirNextLTPro-Demi.eot"); /* IE9 Compat Modes */
  src: url("../fonts/AvenirNextLTPro-Demi.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/AvenirNextLTPro-Demi.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/AvenirNextLTPro-Demi.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/AvenirNextLTPro-Demi.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

body {
  font-family: "AvenirNext_Regular", "helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

h5 {
  text-transform: uppercase;
  font-family: "AvenirNext_Bold", "helvetica", sans-serif;
  font-size: 1.2em;
}

a {
  color: orange;
  text-decoration: none;
}

a.link-small {
  letter-spacing: 0.2em;
  color: var(--light-gray);
  font-size: 0.4em;
}
