@import "_variables.scss";
@import "_intro.scss";
@import "_typography.scss";
@import "_home.scss";
@import "_gallery.scss";
@import "_drawer.scss";

@media screen and (max-width: 850px) {
  .gallery-wrapper {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .gallery-footer {
    height: 5vh;
  }
  .text-carousel {
    .flickity-viewport {
      width: calc(100vw - 2 * 50px);
    }
    .flickity-slider {
      width: calc(100vw - 2 * 50px);
    }
    .carousel-cell {
      width: calc(100vw - 2 * 50px);
    }

    .carousel-slide {
      width: calc(100vw - 2 * 50px);
    }
  }

  .main-content {
    &[data-drawer="open"] {
      .drawer {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
      }

      .drawer-text {
        width: unset;
      }

      .gallery-wrapper {
        width: 100vw;
      }
    }
  }
}
